# Binaries and object files
*.exe
*.o
*.obj
*.ko
*.mod
*.mod.c
*.order
*.symvers
.tmp_versions/
*.d
*.dll
*.lib
*.exp
*.so

# Temporary logs & artifacts
*.log
*.tmp
*.txt
.DS_Store
Thumbs.db
__pycache__/
*.pyc
